# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/

# База данных
*.db
*.sqlite3

# Редакторы
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.pot
*.pyc
